body {
 
  background-image: url('./assets/mount.jpg'); /* Example image path */
  background-size: cover;
  background-size: 100vw 100vh;  /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
   /* Center the image */
}

.asheley{position: right;}
.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
 }
 .todo-item p {
  color: #888;
  text-decoration: line-through;
 }
 /* For small devices (phones) */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

/* For medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 80%;
    padding: 20px;
  }
}

/* For large devices (laptops/desktops) */
@media only screen and (min-width: 1025px) {
  .app-container {
    background-image: url('./assets/mount.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container {
    max-width: 1200px;
    padding: 30px;
  }
}

 